        <footer>
          <div class="pull-right">
            速捷后台管理系统 from ----King of ducks---
          </div>
          <div class="clearfix"></div>
        </footer> 
<!-- jQuery -->
    <script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="__PUBLIC__/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="__PUBLIC__/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="__PUBLIC__/vendors/raphael/raphael.min.js"></script>
    <script src="__PUBLIC__/vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="__PUBLIC__/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="__PUBLIC__/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.time.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="__PUBLIC__/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="__PUBLIC__/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="__PUBLIC__/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="__PUBLIC__/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="__PUBLIC__/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="__PUBLIC__/vendors/moment/min/moment.min.js"></script>
    <script src="__PUBLIC__/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="__PUBLIC__/js/custom.min.js"></script>
  </body>
</html>